/* Carousel Styles */
.carousel {
    position: relative;
    width: 100%;
    max-width: 800px;
    margin: auto;
    overflow: hidden;
    text-align: center;
}

.carousel-slide {
    display: none;
}

.carousel-slide.active {
    display: block;
}

.carousel-controls {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.carousel-controls span {
    cursor: pointer;
    font-size: 2em;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 0 10px;
    border-radius: 50%;
}

/* Filter Buttons */
.filter-buttons {
    text-align: center;
    margin: 20px 0;
}

.filter-buttons button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    margin: 5px;
    border: none;
    cursor: pointer;
}

.filter-buttons button.active {
    background-color: #333;
}
